.contenedor{
    background-color: white;
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: O;
    margin: 0;
}

.contenedor .sub-contenedor{
    width: 600px;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 5px 10px rgba(128, 228, 247, 0.5)
}

.contenedor .sub-contenedor .contenido{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    flex: auto;
}

.contenedor .sub-contenedor .contenido .icon{
    margin-right: 10px;
}

.contenedor .sub-contenedor .contenido .mensaje .titulo{
    font-weight: bolder;
}

.contenedor .sub-contenedor .botones{
    padding: 10px 0;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.contenedor .sub-contenedor .botones button{
    padding: 15px;
    min-width: 120px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.contenedor .sub-contenedor .botones .btn-descargar{
    background-color: #029BE1;
    color: #fff;
}

.contenedor .sub-contenedor .botones .btn-descargar:hover{
    background-color: #0280DE;
}

.contenedor .sub-contenedor .botones .btn-volver{
    background-color: #fff;
    border: 1px solid #ccc;
}

.contenedor .sub-contenedor .botones .btn-volver:hover{
    background-color: #eee;
}